.Table {
    width: 100%;
    font-size: $font-size-small;
    line-height: $baseline;
    empty-cells: show;

    th {
        vertical-align: bottom;
    }

    td {
        vertical-align: top;
    }

    th,
    td {
        padding: $size-1x;
        border-bottom: 1px solid rgba(0, 0, 0, .05);

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    tfoot th,
    tfoot td {
        color: rgba($text-color, .5);
    }

    // Modificadores
    &._bordered {
        & td,
        & th {
            border: 1px solid rgba(0, 0, 0, .05);
        }
    }

    &._striped tr:nth-child(odd) td {
        background: rgba(0, 0, 0, 0.02);
    }

    &._bordered,
    &._striped {
        & td,
        & th {
            &:first-child {
                padding-left: $size-1x;
            }
            &:last-child {
                padding-right: $size-1x;
            }
        }
    }

    &._unstyled {
        & td,
        & th {
            border: none;
            padding: 0;
        }
    }

    tr._align-middle td,
    td._align-middle {
        vertical-align: middle;
    }
}
