// Display
._display-block {
    display: block;
}

._display-inline-block {
    display: inline-block;
}

// Visibility
._invisible {
    visibility: hidden;
}

._visible {
    visibility: visible;
}

._hide {
    display: none !important;
}

@include breakpoint(sm) {
    ._hide-sm {
        display: none !important;
    }
}

@include breakpoint($min: $sm + 1) {
    ._show-sm {
        display: none !important;
    }
}

// Print
@media print {
    ._hide-print {
        display: none !important;
    }
    ._show-print {
        display: block !important;
    }
}

// No scroll
._no-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    overflow: hidden;
}

// Responsive embedded objects
._video {
    position: relative;
    height: 0;
    margin-bottom: $margin-bottom;
    padding-bottom: 56.25%; // ratio 16:9
    & iframe,
    & object,
    & embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}
