@mixin button($color-text, $color-back)
{
    background-color: $color-back;
    color: $color-text;

    &:hover {
        background-color: lighten($color-back, 20%);
        color: $color-text;
    }
    &:disabled,
    &._disabled {
        background-color: rgba($color-back, .7);
        color: rgba($color-text, .7);
    }
    &._outline {
        border-color: $color-back;
        background: none;
        color: $color-back;

        &:hover {
            border-color: rgba($color-back, .5);
            color: rgba($color-back, .6);
        }
        &:disabled,
        &._disabled {
            border-color: rgba($color-back, .5);
            background: none;
            color: rgba($color-back, .7);
        }
    }
}