/*******************************************************************************
    FONTS
*******************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');


/*******************************************************************************
    Base
*******************************************************************************/
body {
	font-family: 'Lato', sans-serif;
}

/*******************************************************************************
    LAYOUT
*******************************************************************************/
/* Header */
.Header {
	margin-bottom: 30px;
	padding: 20px 30px;
	border-top: 3px solid #000;
	border-bottom: 1px solid #cecece;
}

.Header .logo {
	padding: 3px 0 3px 30px;
	background: url(../img/icon-monalisa.png) no-repeat left center;
	background-size: contain;
	color: #000;
	font-size: 16px;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
}

/* Container */
.Container {
	width: 1170px;
	margin: 0 auto;
}