input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="hidden"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="range"],
textarea,
select {
    display: block;
    width: 100%;
    height: $height-input;
    padding: 0 $padding-1x;
    border: 1px solid $border-color-input;
    border-radius: $border-radius;
    background-color: #fff;
    font-size: $font-size-small;
    outline: none;

    &:focus {
        border-color: $color-focus;
    }

    &:invalid {
        border-color: $color-error;
        box-shadow: none;
    }

    &._error {
        border-color: lighten($color-error, 20%);

        &:focus {
            border-color: $color-error;
        }
    }

    &._success {
        border-color: lighten($color-success, 20%);

        &:focus {
            border-color: $color-success;
        }
    }

    &:disabled,
    &._disabled {
        resize: none;
        opacity: .7;
        cursor: default;
        color: #aaa;
    }
}

input {
    &[type="search"],
    &._search {
        padding-left: $padding-3x;
        background-repeat: no-repeat;
        background-position: $padding-1x 53%;
        background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%23000' fill-opacity='0.4' d='M14.891,14.39l-0.5.5a0.355,0.355,0,0,1-.5,0L9.526,10.529a5.3,5.3,0,1,1,2.106-4.212,5.268,5.268,0,0,1-1.1,3.21l4.362,4.362A0.354,0.354,0,0,1,14.891,14.39ZM6.316,2.418a3.9,3.9,0,1,0,3.9,3.9A3.9,3.9,0,0,0,6.316,2.418Z'/%3E%3C/svg%3E");
    }
}

textarea {
    padding: $padding-1x;
    height: ($height-input * 2) + $padding-1x;
    line-height: $baseline;
}

select {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12' viewBox='0 0 9 12'><path fill='%235e6c75' d='M0.722,4.823L-0.01,4.1,4.134-.01,4.866,0.716Zm7.555,0L9.01,4.1,4.866-.01l-0.732.726ZM0.722,7.177L-0.01,7.9,4.134,12.01l0.732-.726Zm7.555,0L9.01,7.9,4.866,12.01l-0.732-.726Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right $padding-1x center;
    appearance: none;
}

select[multiple] {
    padding: $padding-1x;
    height: ($height-input * 2) + $padding-1x;
    background-image: none;
}

.Form {
    margin-bottom: $margin-1x;

    .form-item,
    .form-group {
        margin-bottom: $margin-1x / 2;

        label {
            display: block;
            margin-bottom: $margin-1x / 4;
            color: $color-text;
            font-size: $font-size-small;
            line-height: 1;
        }

        > div {
            display: flex;
            flex-direction: row;

            label {
                margin-right: $margin-1x / 2;
                margin-bottom: 0;
            }
        }
    }

    .form-item {
        > div {
            flex-wrap: wrap;
        }
    }

    .form-group {
        > div {
            flex-wrap: nowrap;

            > input {
                width: 1%;
                flex: 1 1 auto;

                &:not(:first-child) {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                &:not(:last-child) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            > .prepend,
            > .append {
                    height: $height-input;
                    line-height: $height-input;
                    padding: 0 $padding-1x;
                    border: 1px solid $border-color-input;
                    border-radius: $border-radius;
                    background-color: #f8f8f8;
                    color: rgba(0, 0, 0, .7);
                    font-size: $font-size-small;
                    white-space: nowrap;
            }

            > .prepend {
                    border-right: none;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
            }

            > .append {
                    border-left: none;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
            }
        }
    }

    .form-buttons {
    }

    &._horizontal {
        .form-item,
        .form-group,
        .form-buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            > label {
                width: 30%;
                line-height: $height-input;
            }

            > div {
                width: 70%;

                label {
                    line-height: $height-input;
                }
            }
        }

        .form-buttons {
            > div {
                margin-left: 30%;
            }
        }
    }

    &._inline {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .form-item,
        .form-group,
        .form-buttons {
            flex: 1 0 auto;
            margin-right: $margin-1x;
            margin-bottom: 0;

            > div {
                label {
                    margin-bottom: 0;
                    line-height: $height-input;
                }
            }
        }

        .form-buttons {
            flex: 0 1 auto;
            align-self: flex-end;
            margin-right: 0;
        }
    }
}

@include breakpoint(sm) {
    .Form {
        .form-item {
            > div {
                flex-direction: column;

                label {
                    margin-bottom: $margin-1x / 4;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &._horizontal {
            .form-item,
            .form-group,
            .form-buttons {
                flex-direction: columns;
                flex-wrap: wrap;

                > label {
                    width: 100%;
                    line-height: 1;
                }

                > div {
                    width: 100%;

                    label {
                        line-height: 1;
                    }
                }
            }

            .form-buttons {
                > div {
                    margin-left: 0;
                }
            }
        }

        &._inline {
            flex-direction: column;
            flex-wrap: wrap;

            .form-item,
            .form-group,
            .form-buttons {
                width: 100%;
                margin-right: 0;
                margin-bottom: $margin-1x / 2;

                > div {
                    label {
                        margin-bottom: $margin-1x / 4;
                        line-height: 1;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .form-buttons {
                align-self: flex-start;
            }
        }
    }
}
