// GRID
// ============================================================================

$grid-columns: 12 !default;
$grid-gutter:  2% !default;



// BREAKPOINTS
// ============================================================================

$xs: 480px !default;
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;



// SIZES
// ============================================================================

$height-input: 40px !default;



// COLORS
// ============================================================================

// Texts
$color-text:                  #313439 !default;
$color-headings:              #0d0d0e !default;

// Links
$color-link:                  #3498db !default;
$color-link-hover:            #2980b9 !default;

// Buttons
$color-button-primary:        #1c86f2 !default;
$color-button-primary-text:   #ffffff !default;
$color-button-secondary:      #313439 !default;
$color-button-secondary-text: #ffffff !default;

// States
$color-error:                 #e74c3c !default;
$color-success:               #2ecc71 !default;
$color-warning:               #f7ca18 !default;
$color-focus:                 #3498db !default;



// FONT
// ============================================================================

// Font families
$font-family:           Arial, sans-serif !default;
$font-family-monospace: Consolas, Monaco, 'Courier New', monospace !default;
$font-family-headings:  $font-family !default;
$font-family-buttons:   $font-family !default;
$font-family-input:     $font-family !default;

// Texts sizes
$font-size:        16px !default;
$font-size-small:  $font-size - 2px !default;

// Headings sizes
$font-size-h1:     48px !default;
$font-size-h2:     36px !default;
$font-size-h3:     24px !default;
$font-size-h4:     21px !default;
$font-size-h5:     18px !default;
$font-size-h6:     16px !default;

// Others sizes
$font-size-table:  $font-size-small !default;
$font-size-input:  $font-size-small !default;
$font-size-button: $font-size-small !default;

// Weight
$font-weight-button: bold !default;



// BASELINES
// ============================================================================

$base-line:         1.5 !default;
$base-line-heading: 1 !default;
$base-line-table:   $base-line !default;
$base-line-button:  $height-input !default;



// MARGINS
// ============================================================================

$margin-bottom:         $font-size * $base-line !default;
$margin-bottom-heading: $margin-bottom !default;



// PADDINGS
// ============================================================================

$padding-tb-table:    1rem !default;
$padding-rl-table:    1rem !default;
$padding-rl-input:    12px !default;
$padding-tb-textarea: 8px !default;
$padding-rl-button:   20px !default;



// BORDERS
// ============================================================================

$border-table:         1px solid rgba(0, 0, 0, .05) !default;
$border-width-input:   1px !default;
$border-color-input:   #d4d4d4 !default;
$border-radius-input:  3px !default;
$border-radius-button: 3px !default;



// BACKGROUNDS
// ============================================================================

$background-color-table-striped: #f8f8f8 !default;
$background-color-input:         #fff !default;



// BOX SHADOWS
// ============================================================================

$box-shadow-input:               none !default;
$box-shadow-input-focus:         0 0 1px $color-focus inset !default;
$box-shadow-input-focus-error:   0 0 1px $color-error inset !default;
$box-shadow-input-focus-success: 0 0 1px $color-success inset !default;



