// Text Colors
._error     { color: $color-error; }
._success   { color: $color-success; }
._warning   { color: $color-warning; }
._focus     { color: $color-focus; }

// Background Colors
._bg-error      { background-color: $color-error; }
._bg-success    { background-color: $color-success; }
._bg-warning    { background-color: $color-warning; }
._bg-focus      { background-color: $color-focus; }