// Text Colors
.error     { color: $color-error; }
.success   { color: $color-success; }
.warning   { color: $color-warning; }
.focus     { color: $color-focus; }

// Background Colors
.bg-error      { background-color: $color-error; }
.bg-success    { background-color: $color-success; }
.bg-warning    { background-color: $color-warning; }
.bg-focus      { background-color: $color-focus; }
