.Datepicker {
    width: 285px;
    display: none;
    font-size: 14px;
    background-color: #fff;
    padding: 20px;
    border: 0 solid transparent;
    border-radius: 4px;
    box-shadow: 0 6px 24px rgba(17,17,19,.12);

    .ui-datepicker-header {
        margin-top: -4px;
        margin-bottom: 8px;

        .ui-datepicker-prev,
        .ui-datepicker-next {
            position: absolute;
            top: 2px;
            width: 24px;
            height: 24px;
            color: rgba(17,17,19,.75);
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;
            user-select: none;
            z-index: 2;
        }
        .ui-datepicker-prev-hover,
        .ui-datepicker-next-hover {
            opacity: .7;
        }
        .ui-datepicker-prev {
            left: 2px;
        }
        .ui-datepicker-next {
            right: 2px;
        }
        .ui-datepicker-title {
            display: inline-block;
            position: relative;
            width: 100%;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color: #111113;
            text-align: center;
            padding: 4px 0;
            z-index: 1;
        }
        .ui-datepicker-title select {
            display: inline-block;
            font-size: 1em;
            margin: 0 4px;
        }
        select.ui-datepicker-month,
        select.ui-datepicker-year {
            width: 35%;
            height: 22px;
        }
    }
    table {
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0 0 .4em;
        
        thead {
            width: 100%;
        }

        th {
            width: 36px;
            height: 24px;
            font-size: 11px;
            font-weight: 700;
            color: #111113;
        }
        td {
            border: 0;
            padding: 1px;
            text-align: center;
            width: 36px;
            height: 32px;
            line-height: 32px;
            margin-top: -1px;
            margin-left: -1px;
            font-size: 12px;
            border: 1px solid #fff;
            
            span,
            a {
                display: block;
                color: #111113;
                line-height: 31px;
                text-decoration: none;
                border-radius: 4px;
                background: #fff;
            }
            a.ui-priority-secondary {
                color: rgba(17,17,19,.5);
            }

            &.ui-datepicker-current-day a,
            a:hover {
                background: $color-button-secondary !important;
                color: $color-button-secondary-text !important;
            }
            &.ui-datepicker-today a {
                background: $color-button-primary;
                color: $color-button-primary-text;
            }
        }
    }
    .ui-datepicker-buttonpane {
        background-image: none;
        margin: .7em 0 0 0;
        padding: 0 .2em;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        
        button {
            float: right;
            margin: .5em .2em .4em;
            cursor: pointer;
            padding: .2em .6em .3em .6em;
            width: auto;
            overflow: visible;
        }
        button.ui-datepicker-current {
            float: left;
        }
    }

    /* with multiple calendars */
    &.ui-datepicker-multi {
        .ui-datepicker-group {
            float: left;
            border-left: 1px solid rgba(17,17,19,.1);
            
            table {
                width: 95%;
                margin: 0 auto .4em;
            }
        }
        
        .ui-datepicker-group-first {
            border-left: 0;
        }
        .ui-datepicker-group-last .ui-datepicker-header,
        .ui-datepicker-group-middle .ui-datepicker-header {
            border-left-width: 0;
        }
        .ui-datepicker-buttonpane {
            clear: left;
        }
    }

    &.ui-datepicker-multi-2 .ui-datepicker-group {
        width: 50%;
    }
    &.ui-datepicker-multi-3 .ui-datepicker-group {
        width: 33.3%;
    }
    &.ui-datepicker-multi-4 .ui-datepicker-group {
        width: 25%;
    }
    &.ui-datepicker-row-break {
        clear: both;
        width: 100%;
        font-size: 0;
    }
}