.Dropdown {
	@extend ._unstyled;
    position: absolute;
    width: 280px;
    max-width: 100%;
    background: #fff;
    box-shadow: 0 6px 24px rgba(17,17,19,.12);
    border-radius: 3px;
    z-index: 99;
    visibility: visible;

    a {
    	display: block;
    	padding: 10px 15px;
    }
}