.Form {
    margin-bottom: $margin-bottom;

    fieldset {
        margin-bottom: 2rem;
        padding: 2rem;
        border: 1px solid rgba(0, 0, 0, .1);
        font-family: inherit;

        legend {
            position: relative;
            margin-left: -1rem;
            padding: 0 1rem;
            font-weight: bold;
            font-size: $font-size-small;
            text-transform: uppercase;
            line-height: 0;
        }
    }

    .form-item {
        margin-bottom: $margin-bottom;

        label {
            display: block;
            color: $color-text;
            margin-bottom: 4px;
            font-size: $font-size - 1px;

            &._checkbox {
                color: inherit;
                font-size: $font-size;
                font-weight: normal;
                text-transform: none;
                line-height: $base-line;
                cursor: pointer;

                & input {
                    margin-top: 0;
                }
            }
        }

        > div {
            // Modificadores
            &._append,
            &._prepend {
                @include flex;

                & input {
                    @include flex-item-one;
                }
                & .Button,
                & span {
                    @include flex-item-shrink;
                }
                & span {
                    @include flex;
                    @include flex-items-column;
                    @include flex-items-center;

                    font-weight: normal;
                    border: $border-width-input solid $border-color-input;
                    background-color: #f8f8f8;
                    padding: 0 .875rem;
                    color: rgba(0, 0, 0, .5);
                    font-size: $font-size-small;
                    white-space: nowrap;
                }
            }

            &._prepend {
                & input {
                    border-radius: 0 $border-radius-input $border-radius-input 0;
                }
                & .Button {
                    margin-right: -1px;
                    border-radius: $border-radius-input 0 0 $border-radius-input !important;
                }
                & span {
                    border-right: none;
                    border-radius: $border-radius-input 0 0 $border-radius-input;
                }
            }

            &._append {
                & input {
                    border-radius: $border-radius-input 0 0 $border-radius-input;
                }
                & .Button {
                    margin-left: -1px;
                    border-radius: 0 $border-radius-input $border-radius-input 0 !important;
                }
                & span {
                    border-left: none;
                    border-radius: 0 $border-radius-input $border-radius-input 0;
                }
            }
        }

        // Modificadores
        &._checkboxes {
            & label.checkbox {
                display: inline-block;
                margin-right: 16px;
            }
        }

        &._buttons {
            & button,
            & .Button {
                margin-right: 8px;
            }
        }
    }


    // Modificadores
    &._horizontal {
        .form-item {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            label {
                width: 30%;
                line-height: $height-input;
            }
            > div {width: 70%;}

            @include breakpoint(sm) {
                display: block;

                label,
                > div {width: 100%;}
            }
        }
    }

    &._inline {
        & input,
        & textarea,
        & select {
            display: inline-block;
            width: auto;
        }
    }
}

input,
textarea,
select {
    display: block;
    width: 100%;
    height: $height-input;
    padding: 0 $padding-rl-input;
    border: $border-width-input solid $border-color-input;
    border-radius: $border-radius-input;
    background-color: $background-color-input;
    font-family: $font-family-input;
    font-size: $font-size-input;
    outline: none;
    vertical-align: middle;
    box-shadow: $box-shadow-input;

    &:focus {
        border-color: $color-focus;
        box-shadow: $box-shadow-input-focus;
        outline: none;
    }

    &._error {
        border: $border-width-input solid lighten($color-error, 15%);
        background-color: rgba($color-error, .1);

        &:focus {
            border-color: $color-error;
            box-shadow: $box-shadow-input-focus-error;
        }
    }

    &._success {
        border: $border-width-input solid lighten($color-success, 15%);
        background-color: rgba($color-success, .1);

        &:focus {
            border-color: $color-success;
            box-shadow: $box-shadow-input-focus-success;
        }
    }

    &:disabled,
    &._disabled {
        resize: none;
        opacity: 0.6;
        cursor: default;
        font-style: italic;
        color: rgba(0, 0, 0, .5);
    }
}

input {
    &[type="file"] {
        display: inline-block;
        width: auto;
        height: auto;
        border: none;
        padding: 0;
        background: none;
        box-shadow: none;
    }

    &[type="search"],
    &._search {
        padding-left: 32px;
        background-repeat: no-repeat;
        background-position: 8px 53%;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#000" fill-opacity="0.4" d="M14.891,14.39l-0.5.5a0.355,0.355,0,0,1-.5,0L9.526,10.529a5.3,5.3,0,1,1,2.106-4.212,5.268,5.268,0,0,1-1.1,3.21l4.362,4.362A0.354,0.354,0,0,1,14.891,14.39ZM6.316,2.418a3.9,3.9,0,1,0,3.9,3.9A3.9,3.9,0,0,0,6.316,2.418Z"/></svg>');
    }

    &[type="radio"],
    &[type="checkbox"] {
        display: inline-block;
        width: auto;
        height: auto;
        padding: 0;

        &:focus {
            box-shadow: none;
        }
    }
}

textarea {
    height: auto;
    padding: $padding-tb-textarea $padding-rl-input;
    vertical-align: top;
}

select {
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="12" viewBox="0 0 9 12"><path fill="#5e6c75" d="M0.722,4.823L-0.01,4.1,4.134-.01,4.866,0.716Zm7.555,0L9.01,4.1,4.866-.01l-0.732.726ZM0.722,7.177L-0.01,7.9,4.134,12.01l0.732-.726Zm7.555,0L9.01,7.9,4.866,12.01l-0.732-.726Z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 1rem center;
}

select[multiple] {
    height: auto;
    padding: .5rem .75rem;
    background-image: none;
}