// Grid Row
.Row {
    @include grid-row;

    // Gutters
    &._gutters,
    &._gutters > .Row {
        margin-left: -$grid-gutter;

        @include breakpoint(sm) {
            margin-left: 0;
        }

        & > .col {
            margin-left: $grid-gutter;

            @include breakpoint(sm) {
                margin-left: 0;
            }
        }
    }
    &._around {
        @include flex-items-space-around;
    }
    &._between {
        @include flex-items-space-between;
    }
    &._auto {
        & .col {
            flex: 1 1 0%;
        }
    }
}

// Grid Columns
@include generate-grid-columns;

// Offset
[class^='_offset-'],
[class*=' _offset-'] {
    @include breakpoint(sm) {
        margin-left: 0;
    }
}

// Ordering
._first    { order: -1; }
._last     { order: 1;  }

@include breakpoint(sm) {
    .Row {
        & .col {
            margin-left: 0;
            width: 100%;
        }
    }
    ._first-sm { order: -1; }
    ._last-sm  { order: 1;  }
}