.Row {

    // Grid Row
    @include grid-row;

    // Grid Columns
    @include generate-grid-columns;

    .col {
        // Offset
        &[class^='_offset-'],
        &[class*=' _offset-'] {
            @include breakpoint(sm) {
                margin-left: 0;
            }
        }

        // Ordering
        &._first {order: -1;}
        &._last  {order: 1;}
    }

    // Gutters
    &._gutters,
    &._gutters > .Row {
        margin-left: -$grid-gutter;

        @include breakpoint(sm) {
            margin-left: 0;
        }

        & > .col {
            margin-left: $grid-gutter;

            @include breakpoint(sm) {
                margin-left: 0;
            }
        }
    }

    // Auto width
    &._auto {
        & .col {
            flex: 1 1 0%;
        }
    }

    @include breakpoint(sm) {
        & .col {
            margin-left: 0;
            width: 100%;

            &._first-sm {order: -1;}
            &._last-sm  {order: 1;}
        }
    }
}
