.Pagination {
    margin: $margin-bottom 0;
    font-size: $font-size-small;

    ul {
        @include flex;
        @extend ._unstyled;
        margin: 0;

        li {
            margin: 0 1px;

            span,
            a {
                display: inline-block;
                padding: 8px 12px;
                border: 1px solid transparent;
                border-radius: 3px;
                line-height: 1;
                white-space: nowrap;
            }

            a {
                color: $color-text;
                text-decoration: none;

                &:hover {
                    border-color: #eee;
                    color: rgba(0, 0, 0, .5);
                }
            }

            & span,
            &._active a {
                color: rgba(0, 0, 0, .5);
                border-color: #eee;
                cursor: text;
            }
        }
    }

    &._centered {
        ul {
            @include flex-items-center;
        }
    }

    &._pager {
        li {
            @include flex-basis(50%);

            &.next {
                text-align: right;
            }

            a {
                padding-left: 16px;
                padding-right: 16px;
                border-radius: 64px;
                border-color: rgba(0, 0, 0, .1);
            }
        }

        &._centered {
            li {
                @include flex-basis(auto);
                margin-left: 4px;
                margin-right: 4px;
            }
        }
    }
}
