// Base
html,
body {
    font-size: $font-size;
    line-height: $base-line;
}

body {
    background-color: transparent;
    color: $color-text;
    font-family: $font-family;
}

// Text
p {
    line-height: $base-line;
}

// Links
a {
    color: $color-link;
}

a:hover {
    color: $color-link-hover;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    margin-bottom: $margin-bottom-heading;
    color: $color-headings;
    font-family: $font-family-headings;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    line-height: $base-line-heading;
}

h1, ._h1 {font-size: $font-size-h1;}
h2, ._h2 {font-size: $font-size-h2;}
h3, ._h3 {font-size: $font-size-h3;}
h4, ._h4 {font-size: $font-size-h4;}
h5, ._h5 {font-size: $font-size-h5;}
h6, ._h6 {font-size: $font-size-h6;}

h1 a, ._h1 a,
h2 a, ._h2 a,
h3 a, ._h3 a,
h4 a, ._h4 a,
h5 a, ._h5 a,
h6 a, ._h6 a {
  color: inherit;
}

// Lists
ul,
ol {
    &,
    & ul,
    & ol {
        margin: 0 0 0 $margin-bottom;
    }
}

ol ol li {
    list-style-type: lower-alpha;
}
ol ol ol li {
    list-style-type: lower-roman;
}
nav {
    & ul,
    & ol {
        margin: 0;
        list-style: none;
    }
}

dl dt {
    font-weight: bold;
}
dd {
    margin-left: $margin-bottom;
}

// Block Tags
p, blockquote, hr, pre, ol, ul, dl, table, fieldset, figure, address, form {
    margin-bottom: $margin-bottom;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-top: -1px;
}

blockquote {
    padding-left: 1rem;
    border-left: 4px solid rgba(0, 0, 0, .1);
    font-style: italic;
    color: rgba($color-text, .65);
    & p {
        margin-bottom: .5rem;
    }
}

// Inline
time, cite, small, figcaption {
    font-size: 87.5%;
}
cite {
    opacity: .6;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted rgba(0, 0, 0, .5);
    cursor: help;
}
var {
    font-size: $font-size;
    opacity: .6;
    font-style: normal;
}
mark, code, samp, kbd {
    position: relative;
    top: -1px;
    padding: 4px 4px 2px 4px;
    display: inline-block;
    line-height: 1;
    color: rgba($color-text, .85);
}
kbd {
    border: 1px solid rgba(0, 0, 0, .1);
}
sub,
sup {
    font-size: x-small;
    line-height: 0;
    margin-left: 1rem/4;
    position: relative;
}
sup {
    top: 0;
    vertical-align: super;
}
sub {
    bottom: 1px;
    vertical-align: sub;
}

// Preformatted
pre, code, samp, var, kbd {
    font-family: $font-family-monospace;
}
pre, code, samp, var, kbd, mark {
    font-size: 87.5%;
}
pre,
pre code {
    background: #f8f8f8;
    padding: 0;
    top: 0;
    display: block;
    line-height: $base-line;
    color: rgba($color-text, .85);
    overflow: none;
    white-space: pre-wrap;
}
pre {
    padding: 1rem;
}

// Figure
figcaption {
    opacity: .6;
}
figure figcaption {
    position: relative;
    top: -1rem/2;
}
figure pre {
    background: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
}
figure {
    & .video-container,
    & pre {
        margin-bottom: $margin-bottom/2;
    }
}

// Alignment
._tal,
._text-left {
    text-align: left;
}
._tac,
._text-center {
    text-align: center;
}
._tar,
._text-right {
    text-align: right;
}

// Modifiers
ul._unstyled {
    & {
        margin-left: 0;
    }
    &,
    & ul {
        list-style: none;
    }
}
._monospace {
   font-family: $font-family-monospace;
}
._upper {
    text-transform: uppercase;
}
._lower {
    text-transform: lowercase;
}
em, ._italic {
    font-style: italic !important;
}
strong, b, ._strong {
    font-weight: bold !important;
}
._normal {
    font-weight: normal !important;
}
._muted {
    opacity: .55;
}
a._muted {
    color: $color-text;
}
a._muted:hover {
    opacity: 1;
}
._small {
    font-size: $font-size-small;
}
._end {
    margin-bottom: 0 !important;
}
._nowrap,
._nowrap td {
    white-space: nowrap;
}

// Text Columns
._columns-2,
._columns-3,
._columns-4 {
     column-gap: $margin-bottom;
}

._columns-2 {column-count: 2;}
._columns-3 {column-count: 3;}
._columns-4 {column-count: 4;}

@include breakpoint(xs) {
    ._columns-2,
    ._columns-3,
    ._columns-4 {column-count: 1;}
}

