
.Upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed rgba(21,141,247,.3);
    border-radius: 4px;
    height: 120px;
    cursor: pointer;

    .close {
	    position: absolute;
	    top: 4px;
	    right: 4px;
	    width: 18px;
	    height: 18px;
	    border-radius: 50%;
	    opacity: .5;
	    cursor: pointer;

		&:after,&:before {
		    content: '';
		    display: block;
		    width: 12px;
		    height: 1px;
		    margin: 9px 4px 0;
		    background-color: #000;
		    transform: rotate(45deg)
		}

		&:after {
		    margin-top: -1px;
		    transform: rotate(-45deg)
		}

		&:hover {
		    opacity: 1;

		    &:after,&:before {
		    	background-color: #fff;
		    }
		}
	}

	.upload-placeholder {
	    color: rgba(21,141,247,.5);
	    font-style: italic;
	    font-size: .875em;
	}

	&._upload-hover,
	&:hover {
	    border-color: rgba(21,141,247,.35);
	    background-color: rgba(21,141,247,.05);
	}

	&._upload-error {
	    border-color: rgba(238,36,85,.35);
	    background-color: rgba(238,36,85,.05);
	}

	&._box {
		display: block;
		border: 0;
		border-radius: 0;
		height: auto;
		cursor: default;
	    margin-right: -16px;
	    margin-bottom: -16px;

		&:after {
		    content: '';
		    display: table;
		    clear: both
		}

		&:hover {
		    border-color: rgba(0,0,0,0);
		    background-color: rgba(0,0,0,0)
		}

		.upload-placeholder {
			display: none;
		}

		.upload-item {
		    float: left;
		    width: 120px;
		    height: 120px;
		    border: 2px dashed rgba(21,141,247,.3);
		    background-color: #fff;
		    cursor: pointer;
		    border-radius: 6px;
		    position: relative;
		    font-size: 0;
		    line-height: 0;
		    margin-right: 16px;
		    margin-bottom: 16px;

			&._uploaded {
			    border-style: solid;
			    border-color: rgba(21,141,247,.35)
			}

			img {
			    position: relative;
			    z-index: 2;
			    object-fit: cover;
			    height: 100%;
			    width: 100%;
			    background-color: #dddddd;
			    border-radius: 6px
			}

			.close {
			    position: absolute;
			    z-index: 3;
			    top: -4px;
			    right: -8px;
			    background-color: #ee2455;
			    color: #fff;
			    opacity: 1;

				&:hover {
				    background-color: #111113
				}
			}

			&:after {
			    position: absolute;
			    z-index: 1;
			    top: 50%;
			    left: 50%;
			    margin-left: -12px;
			    margin-top: -20px;
			    content: '+';
			    font-size: 40px;
			    line-height: 1;
			    font-weight: 400;
			    color: rgba(21,141,247,.5)
			}

			&._upload-hover,
			&:hover {
			    border-color: rgba(21,141,247,.35);
			    background-color: rgba(21,141,247,.05)
			}

			&._upload-error {
			    border-color: rgba(238,36,85,.35);
			    background-color: rgba(238,36,85,.05)
			}
		}
	}
}

.upload-target {
    background-color: rgba(21,141,247,.02);
    border: 1px solid rgba(21,141,247,.1);
    padding: 4px 8px;

	&:empty {
	    padding: 0;
	    border: none
	}

	.upload-item {
	    display: flex;
	    font-size: .875em;
	    border-bottom: 1px solid rgba(17,17,19,.05);
	    padding-top: 4px;
	    padding-bottom: 4px;

		.close {
		    margin-top: 2px;
		    margin-right: 4px
		}
		.close {
			display: inline-block;
			vertical-align: middle;
		    width: 12px;
		    height: 12px;
		    opacity: .5;
		    cursor: pointer;

			&:after,&:before {
			    content: '';
			    display: block;
			    width: 12px;
			    height: 1px;
			    margin: 10px 0 0;
			    background-color: #000;
			    transform: rotate(45deg)
			}

			&:after {
			    margin-top: -1px;
			    transform: rotate(-45deg)
			}

			&:hover {
			    opacity: 1;

			    &:after,&:before {
			    	background-color: rgba(17,17,19,.05);
			    }
			}
		}

		em {
		    font-style: normal;
		    color: rgba(17,17,19,.5);
		    font-size: .75em;
		    margin-left: 4px
		}

		&:last-child {
		    border-bottom-color: transparent
		}
	}
}
