// Group
._group {
    @include clearfix;
}

// Visibility
._invisible {
    visibility: hidden;
}

._visible {
    visibility: visible;
}

// Display
._display-block {
    display: block;
}

._hide {
    display: none !important;
}

@include breakpoint(sm) {
    ._hide-sm {
        display: none !important;
    }
}

@include breakpoint($min: $sm) {
    ._show-sm {
        display: none !important;
    }
}

// Print
@media print {
    ._hide-print {
        display: none !important;
    }
    ._show-print {
        display: block !important;
    }
}

// No scroll
._no-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    overflow: hidden;
}

// Responsive embedded objects
.video-container {
    height: 0;
    padding-bottom: 56.25%; // ratio 16:9
    position: relative;
    margin-bottom: $margin-bottom;
    & iframe,
    & object,
    & embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

// Margins
.mb0   {margin-bottom: 0px !important;}
.mb5   {margin-bottom: 5px !important;}
.mb10  {margin-bottom: 10px !important;}
.mb15  {margin-bottom: 15px !important;}
.mb20  {margin-bottom: 20px !important;}
.mb25  {margin-bottom: 25px !important;}
.mb30  {margin-bottom: 30px !important;}
.mb35  {margin-bottom: 35px !important;}
.mb40  {margin-bottom: 40px !important;}
.mb45  {margin-bottom: 45px !important;}
.mb50  {margin-bottom: 50px !important;}
.mb55  {margin-bottom: 55px !important;}
.mb60  {margin-bottom: 60px !important;}
.mb65  {margin-bottom: 65px !important;}
.mb70  {margin-bottom: 70px !important;}
.mb75  {margin-bottom: 75px !important;}
.mb80  {margin-bottom: 80px !important;}
.mb85  {margin-bottom: 85px !important;}
.mb90  {margin-bottom: 90px !important;}
.mb95  {margin-bottom: 95px !important;}
.mb100 {margin-bottom: 100px !important;}