// BASE VARS
// ============================================================================

// Breakpoints
$xs: 480px !default;
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;

// Colors
$color-error: #ee5253 !default;
$color-success: #2ecc71 !default;
$color-warning: #feca57 !default;
$color-focus: #1c86f2 !default;

// Font families
$font-family: Arial, sans-serif !default;
$font-family-monospace: Consolas, Monaco, 'Courier New', monospace !default;

// Font sizes
$font-size: 16px !default;
$font-size-small: $font-size - 2px !default;

// Baselines
$baseline: 1.5 !default;

// Sizes
$size-1x: ($font-size * $baseline) / 2 !default;
$size-2x: $size-1x * 2 !default;
$size-3x: $size-1x * 3 !default;
$size-4x: $size-1x * 4 !default;

// Margins
$margin-bottom: $size-2x !default;

// Borders
$border-radius: 4px !default;



// COMPONENT VARS
// ============================================================================

// Row
$grid-gutter: 2% !default;

// Heading
$heading-color: #0d0d0e !default;
$heading-font-family: $font-family !default;
$heading-font-size-1: 40px !default;
$heading-font-size-2: 30px !default;
$heading-font-size-3: 24px !default;
$heading-font-size-4: 20px !default;
$heading-font-size-5: 18px !default;
$heading-font-size-6: 16px !default;
$heading-font-weight: 700 !default;
$heading-line-height: 1 !default;

// Typograph
$text-color: #313439 !default;

// Link
$link-color: #1c86f2 !default;
$link-color-hover: darken($link-color, 10%) !default;

// Form
$input-padding: 0 $size-1x !default;
$input-border-color: #d4d4d4 !default;
$input-height: $size-3x !default;
$input-font-size: $font-size-small !default;

// Button
$button-padding: 0 $size-1x !default;
$button-color-primary: #1c86f2 !default;
$button-color-primary-text: #ffffff !default;
$button-color-secondary: #313439 !default;
$button-color-secondary-text: #ffffff !default;
$button-font-family: $font-family !default;
$button-font-size: $font-size-small !default;
$button-font-weight: 700 !default;
