// Group
._group {
    @include clearfix;
}

// Float
._float-right {
    float: right;
}
._float-left {
    float: left;
}

@include breakpoint(sm) {
    ._float-right { float:none;}
    ._float-left  { float:none;}
}

// Fixed
._fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

// Alignment
._mid {
    @include vertical-align();
}