// Width
._w5   { width: 5%;   }
._w10  { width: 10%;  }
._w15  { width: 15%;  }
._w20  { width: 20%;  }
._w25  { width: 25%;  }
._w30  { width: 30%;  }
._w35  { width: 35%;  }
._w40  { width: 40%;  }
._w45  { width: 45%;  }
._w50  { width: 50%;  }
._w55  { width: 55%;  }
._w60  { width: 60%;  }
._w65  { width: 65%;  }
._w70  { width: 70%;  }
._w75  { width: 75%;  }
._w80  { width: 80%;  }
._w85  { width: 85%;  }
._w90  { width: 90%;  }
._w95  { width: 95%;  }
._w100 { width: 100%; }

._w-auto { width: auto; }